<?xml version="1.0" encoding="UTF-8"?>

<SETTINGS>
  <INFO>
    <VERSION>0.4.3.3</VERSION>
    <PLUGIN_API_VERSION>5</PLUGIN_API_VERSION>
    <DATE>1 Nov 2019 12:25:40</DATE>
    <OS>Windows 8.0</OS>
    <MACHINE>LAPTOP-HNP3B0N2</MACHINE>
  </INFO>
  <SIGNALCHAIN>
    <PROCESSOR name="Sources/Rhythm FPGA" insertionPoint="1" pluginName="Rhythm FPGA"
               pluginType="-1" pluginIndex="0" libraryName="" libraryVersion="-1"
               isSource="1" isSink="0" NodeId="100">
      <CHANNEL_INFO>
        <CHANNEL name="CH1" number="0" gain="0.19499999284744263"/>
        <CHANNEL name="CH2" number="1" gain="0.19499999284744263"/>
        <CHANNEL name="CH3" number="2" gain="0.19499999284744263"/>
        <CHANNEL name="CH4" number="3" gain="0.19499999284744263"/>
        <CHANNEL name="CH5" number="4" gain="0.19499999284744263"/>
        <CHANNEL name="CH6" number="5" gain="0.19499999284744263"/>
        <CHANNEL name="CH7" number="6" gain="0.19499999284744263"/>
        <CHANNEL name="CH8" number="7" gain="0.19499999284744263"/>
        <CHANNEL name="CH9" number="8" gain="0.19499999284744263"/>
        <CHANNEL name="CH10" number="9" gain="0.19499999284744263"/>
        <CHANNEL name="CH11" number="10" gain="0.19499999284744263"/>
        <CHANNEL name="CH12" number="11" gain="0.19499999284744263"/>
        <CHANNEL name="CH13" number="12" gain="0.19499999284744263"/>
        <CHANNEL name="CH14" number="13" gain="0.19499999284744263"/>
        <CHANNEL name="CH15" number="14" gain="0.19499999284744263"/>
        <CHANNEL name="CH16" number="15" gain="0.19499999284744263"/>
        <CHANNEL name="CH17" number="16" gain="0.19499999284744263"/>
        <CHANNEL name="CH18" number="17" gain="0.19499999284744263"/>
        <CHANNEL name="CH19" number="18" gain="0.19499999284744263"/>
        <CHANNEL name="ADC1" number="19" gain="0.000152587890625"/>
        <CHANNEL name="ADC2" number="20" gain="0.000152587890625"/>
        <CHANNEL name="ADC3" number="21" gain="0.000152587890625"/>
        <CHANNEL name="ADC4" number="22" gain="0.000152587890625"/>
        <CHANNEL name="ADC5" number="23" gain="0.000152587890625"/>
        <CHANNEL name="ADC6" number="24" gain="0.000152587890625"/>
        <CHANNEL name="ADC7" number="25" gain="0.000152587890625"/>
        <CHANNEL name="ADC8" number="26" gain="0.000152587890625"/>
      </CHANNEL_INFO>
      <CHANNEL name="0" number="0">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="1" number="1">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="2" number="2">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="3" number="3">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="4" number="4">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="5" number="5">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="6" number="6">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="7" number="7">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="8" number="8">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="9" number="9">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="10" number="10">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="11" number="11">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="12" number="12">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="13" number="13">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="14" number="14">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="15" number="15">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="16" number="16">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="17" number="17">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="18" number="18">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="19" number="19">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="20" number="20">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="21" number="21">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="22" number="22">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="23" number="23">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="24" number="24">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="25" number="25">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <CHANNEL name="26" number="26">
        <SELECTIONSTATE param="1" record="1" audio="0"/>
      </CHANNEL>
      <EVENTCHANNEL name="0" number="0"/>
      <EDITOR isCollapsed="0" displayName="Rhythm FPGA" SampleRate="1" LowCut="1.8392965460350641"
              HighCut="7603.7651218333704" ADCsOn="1" AudioOutputL="-1" AudioOutputR="-1"
              NoiseSlicer="0" TTLFastSettle="1" DAC_TTL="0" DAC_HPF="1" DSPOffset="1"
              DSPCutoffFreq="0.14571292570770725" save_impedance_measurements="0"
              auto_measure_impedances="0" LEDs="0" ClockDivideRatio="1"/>
    </PROCESSOR>
    <PROCESSOR name="Sinks/LFP Viewer" insertionPoint="1" pluginName="LFP Viewer"
               pluginType="1" pluginIndex="8" libraryName="LFP viewer" libraryVersion="1"
               isSource="0" isSink="1" NodeId="102">
      <CHANNEL name="0" number="0">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="1" number="1">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="2" number="2">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="3" number="3">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="4" number="4">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="5" number="5">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="6" number="6">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="7" number="7">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="8" number="8">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="9" number="9">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="10" number="10">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="11" number="11">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="12" number="12">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="13" number="13">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="14" number="14">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="15" number="15">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="16" number="16">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="17" number="17">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="18" number="18">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="19" number="19">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="20" number="20">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="21" number="21">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="22" number="22">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="23" number="23">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="24" number="24">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="25" number="25">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <CHANNEL name="26" number="26">
        <SELECTIONSTATE param="1" record="0" audio="0"/>
      </CHANNEL>
      <EVENTCHANNEL name="0" number="0"/>
      <EDITOR isCollapsed="0" displayName="LFP Viewer" Type="Visualizer">
        <TAB Active="0"/>
        <WINDOW Active="1" x="400" y="180" width="800" height="500"/>
        <LFPDISPLAY Range="400,2000,10.0" Timebase="2.0" Spread="50" colorGrouping="1"
                    isInverted="0" drawMethod="0" EventButtonState="255" ChannelDisplayState="111111111111111111111111111"
                    ScrollX="0" ScrollY="223"/>
      </EDITOR>
    </PROCESSOR>
  </SIGNALCHAIN>
  <AUDIO bufferSize="480"/>
  <GLOBAL_TIMESTAMP selected_index="0" selected_sub_index="0"/>
  <CONTROLPANEL isOpen="0" recordPath="C:\Users\zhang\Downloads\open-ephys-windows (1)\open-ephys-windows"
                prependText="" appendText="" recordEngine="OPENEPHYS"/>
  <AUDIOEDITOR isMuted="0" volume="0" noiseGate="0"/>
  <RECORDENGINES>
    <ENGINE id="OPENEPHYS" name="Open Ephys">
      <PARAMETER id="0" type="bool" value="0"/>
      <PARAMETER id="1" type="bool" value="0"/>
      <PARAMETER id="2" type="string" value="CH"/>
    </ENGINE>
    <ENGINE id="RAWBINARY" name="Binary">
      <PARAMETER id="0" type="bool" value="1"/>
    </ENGINE>
    <ENGINE id="KWIK" name="Kwik"/>
    <ENGINE id="NWB" name="NWB">
      <PARAMETER id="0" type="string" value=""/>
    </ENGINE>
  </RECORDENGINES>
  <PROCESSORLIST>
    <COLOR ID="801" R="59" G="59" B="59"/>
    <COLOR ID="804" R="241" G="90" B="41"/>
    <COLOR ID="802" R="0" G="174" B="239"/>
    <COLOR ID="803" R="0" G="166" B="81"/>
    <COLOR ID="805" R="147" G="149" B="152"/>
  </PROCESSORLIST>
  <UICOMPONENT isProcessorListOpen="1" isEditorViewportOpen="1"/>
</SETTINGS>
